.about {
  height: 100vh;
  max-height: 100vh;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.about_backimg {
  width: 100%;
  height: 99%;
  opacity: 0.5;
  position: absolute;
}

.about_data {
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.25px);
  box-shadow: 0 0 1rem var(--primary-light-glass);
}

.about_data h2 {
  font-size: 1.75rem;
  color: var(--primary-light);
  font-weight: 700;
}

.about_data p {
  font-size: 1rem;
  color: var(--white);
  opacity: 0.9;
  font-weight: 500;
  margin-top: 1rem;
}

.about_data a {
  color: var(--primary-light);
  cursor: pointer;
  text-decoration: none;
}

.about_return {
  text-decoration: none;
  margin-top: 1rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--primary-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1.75px solid var(--primary);
  width: max-content;
  transition: all 0.3s;
}

.about_return:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
  background-color: var(--primary);
}

@media screen and (max-width: 900px) {
  .about {
    padding: 1rem;
  }

  .about_data {
    width: 400px;
    height: max-content;
  }
}

@media screen and (max-width: 460px) {
  .about_data h2 {
    font-size: 1rem;
  }

  .about_data p {
    font-size: 0.75rem;
  }

  .about_return {
    font-size: 0.75rem;
  }
}

@media screen and (max-height: 500px) {
  .about_data {
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-heigh: 900px) {
  .about_data h2 {
    font-size: 2rem;
  }

  .about_data p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  .about_data {
    width: 1000px;
    height: max-content;
    padding: 1.5rem 1.5rem;
  }

  .about_data h2 {
    font-size: 2.75rem;
  }

  .about_data p {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .about_return {
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border: 3.5px solid var(--primary);
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .about_data {
    width: 1200px;
    padding: 2rem 2rem;
  }

  .about_data h2 {
    font-size: 3.25rem;
  }

  .about_data p {
    font-size: 2.25rem;
    margin-top: 1.75rem;
  }

  .about_return {
    margin-top: 1.75rem;
    font-size: 2.25rem;
    padding: 1.5rem 1.75rem;
    border: 4.75px solid var(--primary);
  }
}
